<div style="width: 100%; height: 100%; justify-content: center; background-image: url('/assets/BgImage.png');background-size: cover;
background-repeat: no-repeat;
background-position: center; position: relative;">
    <div style="margin: auto;  background-color: white; padding: 20px; width: 300px; position: absolute; top: 40%;
    left: 40%;">
        <div>
            <mat-form-field style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="username">
                </mat-form-field>
                <br>
                <mat-form-field style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="*****" [(ngModel)]="password">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="onClickLogin()" style="width: 100%;">Login</button>
        </div>
    </div>
</div>